version: "3.9"

services:
  app:
    build: .
    container_name: rest-service-app
    expose:
      - "8080"

  nginx:
    image: nginx:alpine
    container_name: rest-service-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app